OLLAMA_IMAGE=ollama/ollama:latest
OLLAMA_CONTAINER_NAME=ollama
OLLAMA_LOCAL_DATA_VOLUME=/home/nicksson/app/ollama-data
OLLAMA_PORT=11434
OPENWEBUI_IMAGE=ghcr.io/open-webui/open-webui:latest
OPENWEBUI_CONTAINER_NAME=openwebui
OPENWEBUI_PORT=3000
OPENWEBUI_DATA_VOLUME=/home/nicksson/app/open-webui-data
OLLAMA_BASE_URL=http://ollama:11434